<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BayaPathLab - Kelakhera, Uttarakhand{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/image/l.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/image/l.png">
    <link rel="apple-touch-icon" href="/static/image/l.png">
    


<body>
    {% block content %}{% endblock %}
    <script src="/static/js/script2.js"></script>
    
</head>
</body>
</html>